version: '3.8'

services:
  db:
    container_name: db2
    image: postgres:12
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    expose:
      - "5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  
  django:
    build: 
      context: ./api
      dockerfile: Dockerfile
    command: sh -c "cd authtutorial && python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    expose:
      - "8000"
    
    environment:
      - ENV DJANGO_SETTINGS_MODULE=authtutorial.settings
    depends_on:
      - db
  

  react-app:
    build:
      context: ./proyecto-final
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: npm run dev
    

volumes:
  pgdata: {}


